html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Audiowide', sans-serif;
    font-size: 36px;
    background-color: black;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
}

header .logo {
    font-size: 40px;
    font-weight: bold;
    margin: 10px;
}

header .navbar {
    margin-left: 600px;
    margin-right: 200px;
    margin-top: 0px;
    margin-bottom: 0px;
}

header .navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

header .navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

header .navbar ul li a:hover {
    color: blueviolet;
    text-decoration: underline;
}

/* HOME PAGE */
.container {
    width: 80%;
    margin: 20px auto;
}

/* Sections */
.section {
    margin-bottom: 40px;
}

/* Styliser la section de présentation */
#presentation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 20px;
    color: #fff;
    font-family: 'Audiowide', sans-serif;
    gap: 20px;
}

/* Contenu textuel à gauche */
.text-content {
    flex: 1;
    text-align: left;
}

/* Styliser le titre principal */
.title {
    font-size: 30px;
    font-weight: lighter;
}

/* Styliser la salutation */
.hello {
    font-size: 50px;
    font-weight: normal;
    color: white;
}

/* Nom stylisé */
.name {
    font-size: 50px;
    font-weight: normal;
    color: blueviolet;
}

/* Description */
.description {
    font-size: 20px;
    font-weight: lighter;
}


/* Photo et bordure rotative */
.photo-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Image fixe */
.profile-photo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover; /* Adapte l'image au cadre circulaire */
    z-index: 2; /* Place l'image au-dessus */
}

/* Conteneur de la bordure rotative */
.rotating-border {
    width: 330px;
    height: 330px;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rotating-border::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 4px dashed transparent;
    border-color: blueviolet;
    animation: rotate-border 60s linear infinite;
}

/* Animation de rotation */
@keyframes rotate-border {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Key Metrics Section */
#metrics h2 {
    font-size: 36px;
    color: whitesmoke;
    margin-bottom: 20px;
}

.metrics-container {
    display: flex;
    justify-content: space-around;
}

.metric {
    text-align: center;
}

.metric h3 {
    font-size: 40px;
    color: blueviolet;
}

.metric p {
    font-size: 18px;
    color: whitesmoke;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: black;
    font-size: 10px;
    color: white;
    margin-top: 5px;
    margin-bottom: 0px;
}