* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/stock-1863880.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

body {
    font-family: 'Audiowide', sans-serif;
    font-size: 36px;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 80px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))
}

header .logo {
    font-size: 40px;
    font-weight: bold;
    margin-left: 150px;
}

header .navbar {
    margin-right: 150px;
}

header .navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu-icon {
    display: none; /* Cacher l'icône hamburger par défaut */
    font-size: 30px;
    cursor: pointer;
}

.navbar ul.active {
    display: block; /* Afficher le menu lorsqu'il est actif */
}

header .navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

header .navbar ul li a:hover {
    color: blueviolet;
    text-decoration: underline;
}

/* HOME PAGE */
.container {
    width: 100%;  /* Utiliser 100% pour la largeur */
    max-width: 1200px;  /* Limiter la largeur maximale */
    margin: 0 auto;  /* Centrer le contenu */
}

/* Sections */
.section {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Styliser la section de présentation */
#presentation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;
    margin-left: -200px;
    color: #fff;
    font-family: 'Audiowide', sans-serif;
    gap: 20px;
}

/* Contenu textuel à gauche */
.text-content {
    flex: 1;
    text-align: left;
}

/* Styliser le titre principal */
.title {
    font-size: 30px;
    font-weight: lighter;
}

/* Styliser la salutation */
.hello {
    font-size: 50px;
    font-weight: normal;
    color: white;
}

/* Nom stylisé */
.name {
    font-size: 50px;
    font-weight: normal;
    color: blueviolet;
}

/* Description */
.description {
    font-size: 20px;
    font-weight: lighter;
}

/* Photo et bordure rotative */
.photo-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: -340px;
    margin-top: 100px;
}

/* Image fixe */
.profile-photo {
    width: 100%;
    max-width: 300px;  /* Garder la taille maximale sur grand écran */
    height: auto;
    border-radius: 50%;
    object-fit: cover; /* Adapte l'image au cadre circulaire */
    z-index: 2; /* Place l'image au-dessus */
}

/* Conteneur de la bordure rotative */
.rotating-border {
    width: 330px;
    height: 330px;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rotating-border::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 4px dashed transparent;
    border-radius: 50%;
    border-color: blueviolet;
    animation: rotate-border 240s linear infinite;
}

/* Animation de rotation */
@keyframes rotate-border {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Conteneur pour le bouton et les icônes */
.cta-buttons {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px; /* Espacement entre les éléments */
    margin-top: -50px;
    margin-left: -200px;
}

/* Style pour le bouton de téléchargement du CV */
.download-btn {
    color: blueviolet; /* Texte bleu-violet */
    padding: 10px 20px;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    border: 2px solid blueviolet; /* Bordure bleu-violet */
    border-radius: 50px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.download-btn:hover {
    background-color: blueviolet; /* Couleur au survol */
    color: white; /* Texte blanc au survol */
    border-color: blueviolet; /* Bordure verte au survol */
}

/* Taille et couleur de l'icône */
.cta-buttons i {
    font-size: 30px; /* Taille de l'icône */
    color: blueviolet; /* Couleur de l'icône */
    transition: transform 0.3s ease;
}

.cta-buttons i:hover {
    transform: scale(1.1); /* Agrandir l'icône au survol */
}

/* Key Metrics Section */
section#metrics {
    margin-top: 100px;
    margin-left: -200px;
}

#metrics h2 {
    font-size: 36px;
    font-weight: bold;
    color: whitesmoke;
    margin-bottom: 30px;
}

.metrics-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 200px;
}

.metric {
    text-align: center;
}

.metric h3 {
    font-size: 40px;
    color: blueviolet;
}

.metric p {
    font-size: 18px;
    color: whitesmoke;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    font-size: 12px;
    color: white;
    margin-top: 120px;
    margin-bottom: 0px;
    height: 50px;
}

/* Media Queries pour la réactivité */
@media (max-width: 768px) {
    .container {
        width: 100%;
        margin-left: 20px;
        margin-right: 20px;
    }

    header {
        flex-direction: column; /* Empiler les éléments du header sur les petits écrans */
        justify-content: center;
    }

    .menu-icon {
        display: block; /* Afficher l'icône hamburger */
    }

    .logo {
        margin-left: 0;
        text-align: center;
    }

    .navbar {
        margin-right: 0;
        margin-top: 20px;
    }

    .navbar ul {
        display: none; /* Cacher le menu par défaut sur les petits écrans */
        flex-direction: column; /* Aligner les éléments verticalement */
        width: 100%; /* Prendre toute la largeur */
        margin-top: 10px;
    }

    .navbar ul.active {
        display: block; /* Afficher le menu lorsque la classe 'active' est ajoutée */
    }

    .navbar ul li {
        text-align: center; /* Centrer les liens */
        margin: 10px 0;
    }

    .navbar ul li a {
        font-size: 18px;
    }

    #presentation {
        flex-direction: column;  /* Empiler les sections à gauche et à droite */
        text-align: center;
    }

    .photo-container {
        margin-right: 0;
        margin-top: 20px;
    }

    .profile-photo {
        width: 200px;
        height: 200px;
    }

    body {
        font-size: 20px; /* Taille de police plus petite pour les écrans plus petits */
    }

    .hello {
        font-size: 30px;
    }

    .name {
        font-size: 30px;
    }

    .description {
        font-size: 16px;
    }

    .download-btn {
        padding: 8px 16px;
        font-size: 14px; /* Plus petit sur les petits écrans */
    }

    .cta-buttons i {
        font-size: 24px;
    }

    footer {
        font-size: 10px;  /* Réduire la taille de police pour les petits écrans */
        padding: 10px;
    }
}
